HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# IntelliJ HTTP Client request history / responses / cookies
.idea/httpRequests/
http-client.private.env.json
http-client.cookies
*.cookies

# local api test files
/files/

# Saved HTTP response files
*.html

### IntelliJ IDEA
.idea/

### MacOS
.DS_Store

### application yaml 파일
application-*.yaml
application-*.yml

### .env 파일
.env

